// Colors
$main-color: #fff;
$link-color: #ED1C24;
$text-color: #000;

// Fonts
$font-family: "Questrial", sans-serif;
$font-size: 1.2em;
$line-height: 1em;

// Responsive stuff
$break-small: 320px;
$break-medium: 768px;
$break-large: 1024px;