// Colors
$main-color: #00acdd ;
$link-color: #FFCC2F;
$text-color:#fff;

// Fonts
$font-family: 'Questrial', sans-serif;
$font-size:1.2em;
$line-height:1em;

// Responsive stuff
$break-small: 320px;
$break-medium:768px;
$break-large: 1024px;