html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/**
 *
 * Used to generate responsive styles according to the breakpoint we set into the variables file
 *
 */
/* ==========================================================================
Helper classes
========================================================================== */
/*
* Hide from both screenreaders and browsers: h5bp.com/u
*/
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
* Hide only visually, but have it available for screenreaders: h5bp.com/v
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element to be focusable
* when navigated to via the keyboard: h5bp.com/p
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
* Hide visually and from screenreaders, but maintain layout
*/
.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
* `contenteditable` attribute is included anywhere else in the document.
* Otherwise it causes space to appear at the top and bottom of elements
* that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
* `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

@font-face {
  font-family: 'icon';
  src: url("../fonts/icon.eot?-y8bg1m");
  src: url("../fonts/icon.eot?#iefix-y8bg1m") format("embedded-opentype"), url("../fonts/icon.woff?-y8bg1m") format("woff"), url("../fonts/icon.ttf?-y8bg1m") format("truetype"), url("../fonts/icon.svg?-y8bg1m#icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e600";
}

.icon-twitter:before {
  content: "\e601";
}

html, body {
  font-family: "Questrial", sans-serif;
  display: table;
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 320px;
  line-height: 1em;
  font-size: 1.2em;
  color: white;
  background: #6b9939;
  overflow: hidden;
  background: -webkit-gradient(radial, 0% 0%, 0, 0% 0%, 100, color-stop(0%, #6b9939), color-stop(100%, #1d2a0f));
  background: -webkit-radial-gradient(top left, #6b9939 0%, #1d2a0f 100%);
  background: -moz-radial-gradient(top left, #6b9939 0%, #1d2a0f 100%);
  background: -o-radial-gradient(top left, #6b9939 0%, #1d2a0f 100%);
  background: radial-gradient(top left, #6b9939 0%, #1d2a0f 100%);
}
@media only screen and (max-width: 320px) {
  html, body {
    font-size: 0.96em;
  }
}

a {
  color: white;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color: #6b9939;
}

.main {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  z-index: 1;
}
.main .inner-content {
  width: 40%;
  max-width: 400px;
  padding: 7% 10%;
  text-align: center;
  margin: 0 auto;
}
.main .inner-content h1 {
  margin: 0 0 1em;
}
.main .inner-content img {
  width: 100%;
  max-height: 100px;
}
.main .inner-content ul {
  margin: 1.4em 0 0;
}
.main .inner-content ul li {
  margin: 0.4em 0.4em 0;
  font-size: 1.4em;
  display: inline-block;
}

#c {
  position: absolute;
  top: 0;
  left: 0;
}
